<!DOCTYPE html>
{% load static %}
{% load admin_urls %}
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>孙强</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
    <link rel="stylesheet" href="{% static 'css/vendor.css'%}">
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
	
    <!-- script
    ================================================== -->
    <script src="{% static 'js/modernizr.js'%}"></script>
    <script src="{% static 'js/pace.min.js'%}"></script>

</head>

<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">
		<!--
        <div class="header-logo">
            <a class="site-logo" href="index.html"><img src="images/logo.png" alt="Homepage"></a>
        </div>
		-->
        <nav class="header-nav-wrap">
            <ul class="header-nav">
                <li class="current"><a class="smoothscroll"  href="#home" title="home" >主页</a></li>
                <li><a class="smoothscroll"  href="#about" title="about" >关于我</a></li>
                <li><a href="/" title="blog" >博客</a></li>
                <li><a class="smoothscroll"  href="#contact" title="contact" >联系我</a></li>
            </ul>
        </nav>

        <a class="header-menu-toggle" href="#0"><span>Menu</span></a>

    </header> <!-- end s-header -->


   <!-- home
   ================================================== -->
   <section id="home" class="s-home page-hero target-section" data-parallax="scroll" data-image-src="{% static 'image/hero-bg.jpg'%}" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

        <div class="overlay"></div>
        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">

                <h3>Hello There</h3>

                <h1>
                    我是孙强 <br>
                    我喜欢编程、爱音乐、爱读书，也爱写博客 <br>
                    专注于Python以及Web前端技术，擅长Django框架的Web开发。
                </h1>

                <div class="home-content__buttons">
                    <a href="/" class="btn btn--stroke">
                        访问我的个人博客
                    </a>
                    <a href="#about" class="smoothscroll btn btn--stroke">
                        更多关于我
                    </a>
                </div>

                <div class="home-content__scroll">
                    <a href="#about" class="scroll-link smoothscroll">
                        <span>下拉</span>
                    </a>
                </div>

            </div>

        </div> <!-- end home-content -->

    </section> <!-- end s-home -->


    <!-- about
    ================================================== -->
    <section id="about" class="s-about target-section">
        
        <div class="row narrow section-intro has-bottom-sep">
            <div class="col-full text-center">
                <h3>About</h3>
                <h1>More About Me</h1>
                <p class="lead"></p>
            </div>
        </div>

        <div class="row about-content">

            <div class="col-six tab-full left">
                <h3>Hello</h3>

                <p>我是孙强，是一名coder也是一名tester</p>

                <p>
				2012年毕业后的第一份工作是测试工程师，白盒/黑盒测试，掌握了测试方法以及测试概念，主要偏质量保证，2015年以来接触到了Python，瞬间被其简洁的语法以及应用的广阔深深吸引，自学Python并且写一些自动化测试Tool辅助测试，后因项目需要，需要搭建Web服务器实现自动化测试结果的收集与展示，一开始准备用PHP，但是偶然间发现Django框架，结合自己的Python知识很快做出了Demo，并实现了诸多功能，如：Sort、download、注册，权限管理等，期间自学了Restful,并且用django Restful freamwork编写了Web API.通过此网站的搭建深入学习了Restful处理Mysql数据，Django后台处理Web API数据，以及前端实现展示的完整流程。搭建博客是因为我想用我所学的知识做点什么。事实证明是可以做到的，这个博客也相当于我的一个Demo，我可以用它来实验Redis缓存，可以用来部署Celery分布式任务队列等等，未来我希望自己可以在Python的各个方面，如：AI、数据可视化、网络爬虫、Django等等做更多的研究，努力~
                </p>
            </div>

            <div class="col-six tab-full right">
                <h3>I've Got Some skills.</h3>

                <ul class="skill-bars">
                    <li>
                    <div class="progress percent90"><span>90%</span></div>
                    <strong>HTML5</strong>
                    </li>
                    <li>
                    <div class="progress percent85"><span>80%</span></div>
                    <strong>CSS3</strong>
                    </li>
                    <li>
                    <div class="progress percent70"><span>70%</span></div>
                    <strong>JQuery</strong>
                    </li>
                    <li>
                    <div class="progress percent95"><span>80%</span></div>
                    <strong>Djano</strong>
                    </li>
                    <li>
                    <div class="progress percent75"><span>75%</span></div>
                    <strong>Python</strong>
                    </li>   
                    <li>
                    <div class="progress percent90"><span>90%</span></div>
                    <strong>Mysql/Redis</strong>
                    </li>   
                </ul>
            </div>

        </div> <!-- end about-content -->

        <div class="row about-content about-content--buttons">

            <div class="col-six tab-full left">
                <a href="{% static 'sunqiang_resume.doc' %}" class="btn btn--primary full-width">下载简历</a>
            </div>

            <div class="col-six tab-full right">
                <a href="#contact" class="btn full-width">联系我</a>
            </div>

        </div> <!-- end about-content buttons -->

        <div class="row about-content about-content--timeline">

            <div class="col-full text-center">
                <h3>工作经历</h3>
            </div>

            <div class="col-six tab-full left">
                <div class="timeline">

                    <div class="timeline__block">
                        <div class="timeline__bullet"></div>
                        <div class="timeline__header">
                            <p class="timeline__timeframe">2016年 - 现在</p>
                            <h3>Sensor Algorithm</h3>
                            <h5>Lead Designer</h5>
                        </div>
                        <div class="timeline__desc">
                            <p>负责Intel Sensor算法测试，负责搭建网站收集Automation test log, 提供Log Management,通过收集的Log数据进行数据分析。</p>
                        </div>
                    </div> <!-- end timeline__block -->

                    <div class="timeline__block">
                        <div class="timeline__bullet"></div>
                        <div class="timeline__header">
                            <p class="timeline__timeframe">2012年 - 2015年</p>
                            <h3>白盒测试</h3>
                            <h5>测试工程师</h5>
                        </div>
                        <div class="timeline__desc">	
                            <p>此段时间的工作较杂，主要是白盒测试（code coverage）、黑盒测试，做过的项目也很多，HP(ZBook)、华为（MetaBook）、Intel（KBL/CNL/ICL）的很多项目,测试的种类也很多，Sensor、Graphic、Audio、Video、Camera等，还有WHCK也就是后来的HLK，相当于Android的CTS测试。Windows/Android/Linux都有涉及，为以后的开发等打下了基础。</p>
                        </div>
                    </div> <!-- end timeline__block -->

                </div> <!-- end timeline -->
            </div> <!-- end left -->

        </div> <!-- end about-content timeline -->

    </section> <!-- end about -->
    


    <!-- s-stats
    ================================================== -->
    <section id="contact" class="s-contact target-section">

        <div class="overlay"></div>

        <div class="row narrow section-intro">
            <div class="col-full">
                <h3>Contact</h3>
                <h1>Say Hello.</h1>
                
                <p class="lead">请留下你的信息，我会及时与你联络！</p>
            </div>
        </div>

        <div class="row contact__main">
            <div class="col-eight tab-full contact__form">
                <form name="contactForm" id="contactForm" method="post" action="">
                    <fieldset>
    
                    <div class="form-field">
                        <input name="contactName" type="text" id="contactName" placeholder="Name" value="" minlength="2" required="" aria-required="true" class="full-width">
                    </div>
                    <div class="form-field">
                        <input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value="" required="" aria-required="true" class="full-width">
                    </div>
                    <div class="form-field">
                        <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="" class="full-width">
                    </div>
                    <div class="form-field">
                        <textarea name="contactMessage" id="contactMessage" placeholder="message" rows="10" cols="50" required="" aria-required="true" class="full-width"></textarea>
                    </div>
                    <div class="form-field">
                        <button class="full-width btn--primary">Submit</button>
                        <div class="submit-loader">
                            <div class="text-loader">Sending...</div>
                            <div class="s-loader">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                    </div>
    
                    </fieldset>
                </form>

                <!-- contact-warning -->
                <div class="message-warning">
                    Something went wrong. Please try again.
                </div> 
            
                <!-- contact-success -->
                <div class="message-success">
                    信息已发送，谢谢！<br>
                </div>
                        
            </div>
            <div class="col-four tab-full contact__infos">
                <h4 class="h06">Phone</h4>
                <p>Phone: （+86）18012119972<br>
                </p>

                <h4 class="h06">Email</h4>
                <p>530631372@qq.com<br>
                </p>
<!--
                <h4 class="h06">Address</h4>
                <p>
                1600 Amphitheatre Parkway<br>
                Mountain View, CA<br>
                94043 US
                </p>
-->
            </div>

        </div>

    </section> <!-- end s-contact -->


    <!-- footer
    ================================================== -->
    <footer>

        <div class="row">

            <div class="col-eleven">
                <div class="copyright">
                    <span>© Copyright 孙强 2018</span> 
                    <span>Design by <a href="">孙强</a></span>	
                </div>


            </div>

        </div> <!-- end footer-bottom -->

    </footer> <!-- end footer -->

                <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"><i class="im im-arrow-up" aria-hidden="true"></i></a>
                </div>

    <div id="preloader">
        <div id="loader"></div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="{% static 'js/jquery-3.2.1.min.js'%}"></script>
    <script src="{% static 'js/plugins.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>

</body>

</html>